<a href="https://colab.research.google.com/github/AndresJejen/Charlas-Russel/blob/master/RussellDSSesion1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Russell DS Session 1
En este notebook vamos a aprender, como utilizar python para Data Science.
- Primer viñeta
- segunda viñeta

In [0]:
myVariable = "Hola Mundo"

In [3]:
print(myVariable)

Hola Mundo

In [4]:
myVariable = input("Ingresa el nombre de tu perro: ")

Ingresa el nombre de tu perro: No tengo perro :'(

In [5]:
myVariable

"No tengo perro :'("

## Matemáticas con python por favor
**Contexto de negocio:** Imagina que has sido contratado por el DANE, como analista de datos sobre actividad laboral en Colombia. Te entregan un conjunto de datos con la información por región con cantidad total de desempleo y la poblacion laboralmente apta en la region.
Debes generar conocimiento útil.

In [0]:
MyData =  {
            "Costa": {
                "Desempleados": 1345,
                "Poblacion": 5000
            },
            "Andina": {
                "Desempleados": 3000,
                "Poblacion": 10000
            },
            "Orinoquia": {
                "Desempleados": 7854,
                "Poblacion": 65664
            },
            "Amazonica": {
                  "Desempleados": 565666,
                  "Poblacion": 787878
              },
              "Insular": {
                  "Desempleados": 9853,
                  "Poblacion": 75000
              }
          }

In [22]:
print(MyData)

{'Costa': {'Desempleados': 1345, 'Poblacion': 5000}, 'Andina': {'Desempleados': 3000, 'Poblacion': 10000}, 'Orinoquia': {'Desempleados': 7854, 'Poblacion': 65664}, 'Amazonica': {'Desempleados': 565666, 'Poblacion': 787878}, 'Insular': {'Desempleados': 9853, 'Poblacion': 75000}}

Busca la información de la región andina

In [26]:
MyData['Andina']

{'Desempleados': 3000, 'Poblacion': 10000}

Quiero ver la cantidad total de personas laboralmente aptas en Colombia, y la cantidad total de desempleados.

In [0]:
poblacion = 0
desempleados = 0

for region in MyData.keys():
  poblacion = poblacion + MyData[region]['Poblacion']
  desempleados = desempleados + MyData[region]['Desempleados']

In [25]:
print("Total población", poblacion)
print("Total Desempleados", desempleados)

Total población 943542
Total Desempleados 587718

Quiero saber cual es el porcentaje de desempleo en Colombia

In [28]:
print("% Desempleo:",desempleados * 100 / poblacion)

% Desempleo: 62.28848318357847

Quiero saber cual es el porcentaje de población desempleada en cada región

In [31]:
for region in MyData.keys():
  poblacion = MyData[region]['Poblacion']
  desempleados = MyData[region]['Desempleados']
  porcentaje = round(desempleados * 100 / poblacion, 2)
  print(f"% Desempleo en {region}",porcentaje, "%")

% Desempleo en Costa 26.9 %
% Desempleo en Andina 30.0 %
% Desempleo en Orinoquia 11.96 %
% Desempleo en Amazonica 71.8 %
% Desempleo en Insular 13.14 %

## Análisis mensual

In [32]:
!pip install -U numpy

Requirement already up-to-date: numpy in /usr/local/lib/python3.6/dist-packages (1.18.4)

In [0]:
import numpy as np

In [36]:
np.random.randint(100, 3000, (12))

array([1125,  429, 2375,  742, 1168, 1044,  755,  185, 1313, 1602,  632,
       1750])

In [0]:
DesempleoPorRegionPorMes = {
    "Costa": {
                "Desempleados": np.random.randint(100, 3000, (12)),
                "Poblacion": np.random.randint(100, 3000, (12))
            },
            "Andina": {
                "Desempleados":np.random.randint(100, 3000, (12)),
                "Poblacion": np.random.randint(100, 3000, (12))
            },
            "Orinoquia": {
                "Desempleados": np.random.randint(100, 3000, (12)),
                "Poblacion": np.random.randint(100, 3000, (12))
            },
            "Amazonica": {
                  "Desempleados": np.random.randint(100, 3000, (12)),
                  "Poblacion": np.random.randint(100, 3000, (12))
              },
              "Insular": {
                  "Desempleados": np.random.randint(100, 3000, (12)),
                  "Poblacion": np.random.randint(100, 3000, (12))
              }
}

In [44]:
DesempleoPorRegionPorMes

{'Amazonica': {'Desempleados': array([2128, 1396, 1714, 2843, 2646, 1119,  814,  714, 2053, 1892, 1802,
         1141]),
  'Poblacion': array([1046, 2288, 2954, 1538,  346, 2666,  425,  558, 2606, 2586, 1380,
         1943])},
 'Andina': {'Desempleados': array([2280, 2586, 2888,  851, 2198, 2363, 2920, 2087,  460, 2515, 2552,
          529]),
  'Poblacion': array([2618, 1776,  472, 2289, 1697, 1343,  928, 1732,  335,  500, 2732,
         1341])},
 'Costa': {'Desempleados': array([1625, 1960, 2274, 2569, 1462, 1780,  998, 2763, 1638, 1445,  296,
         2607]),
  'Poblacion': array([2941, 2268, 2005, 1967, 1897, 1828, 2504,  955, 2694, 2577, 1176,
         2901])},
 'Insular': {'Desempleados': array([2718, 1917, 2443, 2646,  191,  497,  662,  467,  145,  613, 1323,
         2558]),
  'Poblacion': array([1783, 2831, 2601, 2639,  227, 2881, 2395,  568, 2930,  761, 2355,
         1033])},
 'Orinoquia': {'Desempleados': array([ 127, 2895, 2408, 1455, 1435,  580, 2560, 2848, 1041, 1324, 1796,
         1215]),
  'Poblacion': array([2235, 1050,  489, 1652,  183,  203,  718, 2461, 1964,  596, 1423,
         1086])}}

In [0]:
Insular = DesempleoPorRegionPorMes['Insular']

In [46]:
Insular

{'Desempleados': array([2718, 1917, 2443, 2646,  191,  497,  662,  467,  145,  613, 1323,
        2558]),
 'Poblacion': array([1783, 2831, 2601, 2639,  227, 2881, 2395,  568, 2930,  761, 2355,
        1033])}

In [0]:
DesempleadosInsular = Insular['Desempleados'].sum()
PoblacionInsular = Insular['Poblacion'].sum()

Ohh esto esta raro, es posible que sea un erro en los datos.

In [48]:
print(DesempleadosInsular)
print(PoblacionInsular)

16180
23004